<footer id="page-footer" class="bg-white">
        <div class="flex flex-col md:flex-row-reverse md:justify-center md:items-center space-y-6 md:space-y-0 text-center md:text-left text-sm lg:text-base container xl:max-w-7xl mx-auto px-4 py-10">
            <nav class="space-x-2 sm:space-x-4">
                <p class="font-medium text-gray-500">
                        &copy; 2023 TS Squad. All rights reserved.
                </p>
            </nav>
        </div>
</footer>