<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}} - TS Squad</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body>
    <!-- Page Container -->
<div id="page-container" class="flex flex-col mx-auto w-full min-h-screen bg-gray-100">
    <!-- Page Content -->
    <main id="page-content" class="flex flex-auto flex-col max-w-full ">

    <button id="backToTopBtn" class="hidden fixed bottom-5 right-8 z-50 border-none outline-none bg-indigo-600 text-white cursor-pointer p-4 rounded-full text-lg hover:bg-indigo-800">
        <svg class="hi-solid hi-arrow-circle-up inline-block w-10 h-10" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-8.707l-3-3a1 1 0 00-1.414 0l-3 3a1 1 0 001.414 1.414L9 9.414V13a1 1 0 102 0V9.414l1.293 1.293a1 1 0 001.414-1.414z" clip-rule="evenodd"/></svg>
    </button>

        
      <!-- Hero -->
      <div class="bg-white overflow-hidden min-h-screen">

        {{--  @if(request.url() !== '/')
            <!-- Navbar -->
            @include('partials/navbar')
            <!-- END Navbar -->
        @endif  --}}
  
        <!-- Hero Content -->
        @!section('body')
        <!-- END Hero Content -->

      </div>
      <!-- END Hero -->
  
      <!-- Footer: Simple With Social -->
      @include('partials/footer')
      <!-- END Footer: Simple With Social -->

    </main>
    <!-- END Page Content -->
  </div>
  <!-- END Page Container -->

</body>
</html>
